name: Backend dev cd

on:
  push:
    branches: ['feat/be/be-dev-ci-cd']
    paths:
      - 'packages/server/**'
      - '.github/workflows/be-dev-cd.yml'

jobs:
  cd:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/server'

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: node set-up
        uses: actions/setup-node@v3
        with:
          node-version: 18.6.0

      - name: Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Sign In To Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: buddah
          password: ${{secrets.BUDDAH_REGISTRY_TOKEN}}

      - name: Build Docker Image And Push
        id: docker-image-build-push
        uses: docker/build-push-action@v3
        with:
          push: true
          # context 명시를 안해주면 이전 step에서 변경되던 사항들이 적용되지 않는다.
          context: 'packages/server'
          tags: |
            ghcr.io/buddah/buddah-server:latest
            ghcr.io/buddah/buddah-server:${{ github.sha }}
