name: Backend dev cd

on:
  push:
    branches: ['dev']
    paths:
      - 'packages/server/**'
      - '.github/workflows/be-dev-cd.yml'

jobs:
  Push-Docker-Image:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/server'

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Sign In To Docker Registry
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_REGISTRY_USERNAME}}
          password: ${{secrets.BUDDAH_REGISTRY_TOKEN}}

      - name: Build Docker Image And Push
        uses: docker/build-push-action@v3
        with:
          push: true
          # context 명시를 안해주면 이전 step에서 변경되던 사항들이 적용되지 않는다.
          context: 'packages/server'
          tags: |
            ${{secrets.DOCKER_REGISTRY_USERNAME}}/${{secrets.DOCKER_REPOSITORY}}:latest
            ${{secrets.DOCKER_REGISTRY_USERNAME}}/${{secrets.DOCKER_REPOSITORY}}:${{ github.sha }}

  Build-And-Transfer:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/server'

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: install dependencies
        run: npm install

      - name: build
        run: npm run build

      - name: move deploy file to dist
        run: mv dev.deploy.sh dist

      - name: Inject Environment Variables
        run: echo "$BE_DEV_ENV" > ./dist/.dev.env
        env:
          BE_DEV_ENV: ${{ secrets.BE_DEV_ENV }}

      - name: Deploy to Remote Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_SSH_HOST }}
          username: ${{ secrets.REMOTE_SSH_USERNAME }}
          password: ${{ secrets.REMOTE_SSH_PASSWORD }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          source: 'packages/server/dist/*'
          target: '~/server/dist'

  Deploy:
    needs: ['Push-Docker-Image', 'Build-And-Transfer']

    runs-on: ubuntu-latest

    steps:
      - name: Deploy To Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_SSH_HOST }}
          username: ${{ secrets.REMOTE_SSH_USERNAME }}
          password: ${{ secrets.REMOTE_SSH_PASSWORD }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: . ~/server/dist/deploy.sh ${{secrets.DOCKER_REGISTRY_USERNAME}} ${{secrets.DOCKER_REPOSITORY}}
