name: Frontend dev ci

on:
  push:
    branches: [dev]
    paths: './packages/client'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/client'

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: node set-up
        uses: actions/setup-node@v3
        with:
          node-version: 18.6.0

      - name: Install dependencies
        run: npm install
      
      - name: Inject Environment Variables
        env:
          FE_ENV: ${{ secrets.FE_ENV }}
        run: echo "$FE_ENV" > .env
        
      - name: Test
        run: npm run test
