name: Frontend dev ci

on:
  push:
    branches: [feat/be/front-ci]
  # pull_request:
  #   branches: [dev]

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/client'

    # job
    strategy:
      # matrix 아래에는 matrix.xxx와 같은 방법으로 참조 가능한 변수를 선언
      # job은 각각의 변수들을 가지고 combinations를 만들어 실행시킨다.
      matrix:
        node-version: [18.x]

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: node set-up
        uses: actions/setup-node@v3
        with:
          node-version: 18.6.0

      - name: Install dependencies
        run: npm install
      
      - name: Inject Environment Variables
        env:
          FE_ENV: ${{ secrets.FE_ENV }}
        run: echo "$FE_ENV" > .env
      - name: Check
        run: ls -a && cat .env
        
      - name: Test
        run: npm run test
