name: Frontend dev cd

on:
  push:
    branches: ['dev', 'hotfix/be/fe-ci-cd']
    paths:
      - 'packages/client/**'
      - '.github/workflows/fe-dev-cd.yml'

jobs:
  cd:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './packages/client'

    steps:
      - name: checkout to the branch
        uses: actions/checkout@v3

      - name: node set-up
        uses: actions/setup-node@v3
        with:
          node-version: 18.6.0

      - name: Install dependencies
        run: npm install

      - name: Inject Environment Variables
        env:
          FE_ENV: ${{ secrets.FE_ENV }}
        run: echo "$FE_ENV" > .env

      - name: Build
        env:
          CI: false
        run: npm run build

      - name: Deploy to Remote Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_SSH_HOST }}
          username: ${{ secrets.REMOTE_SSH_USERNAME }}
          password: ${{ secrets.REMOTE_SSH_PASSWORD }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          source: 'packages/client/build/*'
          target: '~/client/build'
          strip_components: 3
